<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Killer Roadtrip</title>
    <style type="text/css">
        html, body { height: 90%; width: 90%; margin: 0; padding: 0; }
        #map { height: 100%; }
    </style>
    <script src="../Components/map.js"></script>
    <script src="../Components/roadTripItinerary.js"></script>
    <script src="../Components/event.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
    <div id="map"></div>
    <script type="text/javascript">
        initMap()
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDd5ratjpmO9MqQqp2MvPGt9B5Y-PJ7Ms&callback=initMap"></script>
</body>
</html>